.content{
    margin: 0 200px 30px;
    
}
.title{
    margin-top: 20px;
}
.order{
    margin:20px 0;
}
.order--content{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
}
.itemPict, .itemname, .count, .price, .shopname{
    margin: 0;
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid var(--secondary-color);
}
.itemPict img{
    width:300px;
    height:200px;
    object-fit: cover;
}
.creditCardInfo label{
    display: flex;
    align-items: center;
    margin: 0;
}
.creditCardInfo div{
    width:200px;
    height:38px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid var(--text-color);
    box-sizing: border-box;
    padding: 0 10px;
    display: inline-block;
}
#fakeButton{
    width:300px;
    height:40px;
    color:var(--forth-color);
    background-color: var(--primary-color);
    box-sizing: border-box;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}