.status{
    text-align: center;
}
.status img{
    margin: 30px 0;
    height:330px;

}
.progress-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap:30px;
    justify-content: center;
    margin-bottom: 30px;
  }

.bar-container{
    width:210px;
    border: var(--secondary-color) 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px;
}
.progress-bar {
    width: 0px;
    height: 30px;
    background-color: var(--title-color);
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    color: white;
}
@keyframes progressBarAnimation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
}
.content_body{
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.orderDetail{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:1200px;
  margin:0 0 30px;
  box-sizing: border-box;
  padding: 0 150px;
}
.orderDetail h1{
  margin:10px 0 0;
}
.deleverDetail{
  margin:0 0 30px;
}