<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/text.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2sw2FO9nxUBiPPFC0ZDN8kqtdANk7sEQ&libraries=places&callback=initMap&region=TW&language=zh-TW">
    </script>
    {% block css %}
    
    {% endblock css %}
</head>
<body>
    <div class="wrapper">
        <section class="nav">
        {% block nav %}
        
        {% endblock nav %} 
        </section>
        {% block content %}
        
        {% endblock content %}
        <section class="footer">
            <div class="footer--text">
                Food Comming &copy 2023
            </div>
        </section>
        <section class="signUpForm">
            <div class="shelder" style="width:100%"></div>
            <div class="form">
                <h1>註冊會員</h1>
                <form class="formContent">
                    <input type="text" class="SignupAccount" placeholder="請輸入帳號">
                    <input type="password" class="SignupPassword" placeholder="請輸入密碼">
                    <input type="email" class="SignupEmail" placeholder="請輸入信箱">
                    <input type="tel" class="SignupPhone" placeholder="請輸入手機號碼">
                    <div class="alert"></div>
                    <div class="fakeBTN" id="SignUp">註冊會員</div>
                </form>
            </div>
        </section>
        <section class="signInForm">
            <div class="shelder"style="width:100%"></div>
            <div class="form">
                <h1>請先登入會員</h1>
                <form class="formContent">
                    <input type="email" class="LoginEmail" placeholder="請輸入會員信箱">
                    <input type="password" class="LoginPassword" placeholder="請輸入密碼">
                    <div class="alert"></div>
                    <div class="fakeBTN" id="SignIn">登入會員</div>
                    <div class="subtitle">尚未註冊會員?<span class="notMember" style="text-decoration: underline;">點擊此處</span></div>
                </form>
            </div>
        </section>
        {% block otherelement %}
        
        {% endblock otherelement %}
    </div>
    <script src="../static/javascript/tools/fetchInfo.js"></script>
    <script src="../static/javascript/tools/memberForm.js"></script>
    {% block script %}
    
    {% endblock script %}
    <script src="../static/javascript/member/memberData.js"></script>
</body>
</html>