<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/text.css">
    {% block css %}
    
    {% endblock css %}
</head>
<body>
   <div class="wrap">
        <section class="nav">
            <div class="nav--logo">
                <img src="../static/image/logo.png" alt="Logo" class="logo">
                <a href="/" class="title  nav--title textDeUnderline">
                    <h1>FOOD COMING</h1>
                    <h3>Mouth Open And Food Come</h3>
                </a>
            </div>
            <div class="title purchase">購物車</div>
            
        </section>
        {% block content %}
            
        {% endblock content %}
        <section class="footer">
            <div class="footer--text">
                Food Comming &copy 2023
            </div>
        </section>
        <script src="../static/javascript/model/fetchInfo.js"></script>
        {% block script %}
        
        {% endblock script %}
    </div> 
</body>
</html>