{% extends "base.html" %}
{% block title %}item{% endblock title %}
{% block css %}
<link rel="stylesheet" href="../static/css/item.css">
{% endblock css %}
{% block nav %}
<a href="/" class="title nav--left" style="text-decoration: none;">
    <img src="../static/image/logo.png" alt="Logo" class="logo">
    <div class="tilte nav--title">
        <h1>FOOD COMING</h1>
        <h3>Mouth Open And Food Come</h3>
    </div>
</a>
<div class="nav--right">
    <div class="purchase title">購物車</div>
</div>
{% endblock nav %}
{% block content %}
<section class="content">
    <div class="cart">
        <img src="../static/image/cross.png" alt="close" class="close">
        <div class="cart--contain">
            <img src="../static/image/shopping cart.png" alt="購物車">
            <div class="label">目前購物車是空的</div>
        </div>
    </div>
    <div class="content--header">
        <img src="../static/image/lastpage.png" alt="上一頁">
        <span>返回</span> <span class="content_header--shop">{商店名稱}</span>
    </div>
    <div class="content--contain">
        <div class="contain--left">
            <img class="groceryPict">
        </div>
        <div class="contain--right">
            <h1 class="groceryName">{選購商品}</h1>
            <h3 class="groceryPrice">{商品價格}</h3>
            <input type="number" class="purchaseNum">
            <div class="purchaseBTN">
                新增<span class="count">1</span>項商品至購物車
                <img src="../static/image/dot.png" alt="點" >
                $<span class="price">{價格}</span>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block script %}
<script src="../static/javascript/model/fetchInfo.js"></script>
<script src="../static/javascript/control/confirmMember.js"></script>
<script src="../static/javascript/view/base_nav.js"></script>
<script src="../static/javascript/view/item.js"></script>
{% endblock script %}
