{% extends "groceryBase.html" %}
{% block title %}shopPage{% endblock title %}
{% block css %}
<link rel="stylesheet" href="../static/css/shopEditPage.css">
{% endblock css %}

{% block content %}
<section class="header">
    <img alt="" class="shopPhoto">
    <img src="../static/image/pencil_bg.png" alt="" class="header--pencil edit" id="editShopPhoto">
</section>
<section class="contain">
    <div class="contain--header">
        <div class="shopname">
            <span id="shopName" class="bold">{商店名稱}</span>
            <img src="../static/image/pencil.png" alt="" class="edit" id="editShopName">
        </div>
        <div class="description">
            <img alt="" class="shopCat">
            <div class="decriptionDiv">
                <div class="category">
                    <div class="categoryName"></div>
                    <img src="../static/image/pencil.png" alt="" class="edit" id="editShopCat">
                    <img src="../static/image/dot.png" alt="" style="width:24px;">
                    <div class="detail">詳細資訊</div>
                </div>
                <div class="prepareTime">
                    <span id="editPrepareTime">{準備}</span><span>分鐘</span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="contain--content">
        <div class="content--left">

        </div>
        <div class="content--right">
            
        </div>
    </div>
    <div class="detailForm">

    </div>
</section>     
{% endblock content %}
{% block script %}
<script src="../static/javascript/view/store.js"></script> 
{% endblock script %}   