{% extends "base.html" %}
{% block title %}shopPage{% endblock title %}
{% block css %}
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/shopEditPage.css">
{% endblock css %}

{% block nav %}
<div class="nav--logo">
    <img src="../static/image/logo.png" alt="Logo" class="logo">
    <a href="/" class="title  nav--title textDeUnderline">
        <h1>FOOD COMING</h1>
        <h3>Mouth Open And Food Come</h3>
    </a>
</div>
<div class="title purchase">購物車</div>
{% endblock nav %}
{% block content %}
<section class="header">
    <div class="cart">
        <img src="../static/image/cross.png" alt="close" class="close">
        <div class="cart--contain">
            <img src="../static/image/shopping cart.png" alt="購物車">
            <div class="label">目前購物車是空的</div>
        </div>
    </div>
    <div class="fakeItem loadingShopPhoto"></div>
    <img alt="" class="shopPhoto">
    <img src="../static/image/pencil_bg.png" alt="" class="header--pencil edit" id="editShopPhoto">
</section>
<section class="contain" style="margin-top: 10px;">
    <div class="contain--header">
        <div class="shopname">
            <span class="fakeItem loadingShopName"></span>
            <span id="shopName" class="bold"></span>
            <img src="../static/image/pencil.png" alt="" class="edit" id="editShopName">
        </div>
        <div class="description">
            <div class="fakeItem loadingShopCategory"></div>
            <img alt="" class="shopCat">
            <div class="decriptionDiv">
                <div class="category">
                    <div class="fakeItem loadingCategoryName"></div>
                    <div class="categoryName"></div>
                    <img src="../static/image/pencil.png" alt="" class="edit" id="editShopCat">
                    <img src="../static/image/dot.png" alt="" style="width:24px;">
                    <div class="detail">詳細資訊</div>
                </div>
                <div class="prepareTime">
                    <span id="editPrepareTime">{準備}</span><span>分鐘</span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="contain--content">
        <div class="content--left">
            <div class="fakeItem loadingDishClass"></div>
        </div>
        <div class="content--right">
            <div class="loadingItem">
                <div class=" fakeItem loadingItemPict"></div>
                <div class="fakeItem loadingItemName"></div>
                <div class="fakeItem loadingItemDetail"></div>
            </div>
        </div>
    </div>
    <div class="detailForm">

    </div>
</section>     
{% endblock content %}

{% block script %}
<script src="../static/javascript/view/base_nav.js"></script>
<script src="../static/javascript/view/store.js"></script> 
{% endblock script %}   