{% extends "base.html" %}
{% block title %}payment{% endblock title %}
{% block css %}
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/text.css">
<link rel="stylesheet" href="../static/css/payment.css">
{% endblock css %}
{% block nav %}
<a href="/" class="title nav--left" style="text-decoration: none;">
    <img src="../static/image/logo.png" alt="Logo" class="logo">
    <div class="tilte nav--title">
        <h1>FOOD COMING</h1>
        <h3>Order Page</h3>
    </div>
</a>
{% endblock nav %}
{% block content %}
<section class="content">
    <h2 class="bold order">訂單內容</h2>
    <div class="order--content">
        <div class="itemPict label">餐點照片</div>
        <div class="itemname label">餐點名稱</div>
        <div class="count label">餐點數量</div>
        <div class="price label">餐點價格</div>
        <div class="shopname label">店家名稱</div>
        <div class="fakeItem itemPict label"></div>
        <div class="fakeItem itemname label"></div>
        <div class="fakeItem count label"></div>
        <div class="fakeItem price label"></div>
        <div class="fakeItem shopname label"></div>
    </div>
    <div class="consumer--detail">
        <h2 class="title bold">訂購人資訊</h2>
        <div>
            <div class="label">訂購人姓名:</div>
            <div class="fakeInput name"></div>
            <input type="text" class="refreshName" style="display:none;">
        </div>
        <div>
            <div class="label">連絡電話:</div>
            <div class="fakeInput phone"></div>
            <input type="text" class="refreshPhone" style="display:none;"> 
        </div>
        <div class="alert">請保持電話聯絡暢通，以便服務人員聯繫</div>
        <div>
        <div>
            <div class="label">送達地址:</div>
            <input type="text" id="address" name="location" placeholder="請輸入外送目的地">
        </div>
    </div>
    </div>
    <div class="creditCardInfo">
        <h2 class="title bold">信用卡付款資訊</h2>
        <label for="creditCard" class="label tpfield">卡片號碼 :
            <div id="card-number"></div>
        </label><br>
        <label for="expDate" class="label tpfield">到期日期 :
            <div id="card-expiration-date"></div>
        </label><br>
        <label for="ccv" class="label tpfield">驗證密碼 :
            <div id="card-ccv"></div>
        </label>
    </div>
    <div class="main"></div>
    <div class="content__div left">
        <div class="summary" style="height: 100px;">
            <h2 class="bold title">總價:<span id="total"></span></h2>
            <div id="fakeButton" class="label">確認訂購並付款</div>
        </div>
    </div>
</section>
{% endblock content %}

{% block otherelement %}
<section class="waiting">
    <h1 class="title">正在傳送訂單資訊，請稍後...</h1>
    <img src="../static/image/Spinner-1s-200px.gif">
    <div class="shelder"></div>
</section>
{% endblock otherelement %}

{% block script %}
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2sw2FO9nxUBiPPFC0ZDN8kqtdANk7sEQ&libraries=places&callback=initMap&region=TW&language=zh-TW">
</script>
<script src="../static/javascript/location/maps.js"></script>
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.15.1"></script>
<!-- <script src="https://pay.google.com/gp/p/js/pay.js"></script> -->
<script>
    TPDirect.setupSDK('137075', 'app_txMHDecsEW8QxquSi1sB6C5x4mk8GysladlwC2UNcnR3K5caIoL7cDtzw9VB', 'sandbox');
</script>
<script src="../static/javascript/order/tappay.js"></script>
{% endblock script %}