{% extends "base.html" %}
{% block title %}thankyou{% endblock title %}
{% block css %}
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/text.css">
<link rel="stylesheet" href="../static/css/thankyou.css">
{% endblock css %}
{% block nav %}
<div class="title nav--left">
    <img src="../static/image/logo.png" alt="Logo" class="logo">
    <div class="tilte nav--title">
        <h1>FOOD COMING</h1>
        <h3>Order Page</h3>
    </div>
</div>
<div class="nav--right">
    <img src="../static/image/showMore.png" alt="看更多" id="lines">
{% endblock nav %}
{% block content %}
<div class="content">
    <div class="content_header">
        <div class="status">
            <img src="../static/image/create_order.png" alt="">
        </div>
        <div class="progress-container">
            <div class="bar-container">
                <div class="progress-bar" id="bar1"></div>
            </div>
            <div class="bar-container">
                <div class="progress-bar" id="bar2"></div>
            </div>
            <div class="bar-container">
                <div class="progress-bar" id="bar3"></div>
            </div>
            <div class="bar-container">
                <div class="progress-bar" id="bar4"></div>
            </div>
        </div>
    </div>
    <div class="content_body">
        <div class="creating_order">
            <h1>訂單建立中 請稍後片刻...</h1>
        </div>
        <div class="matchingDelever" style="display: none;">
            <div class="orderDetail">
                <h1>訂單編號:</h1>
                <h3 class="orderNum"></h3>
                <h1 class="orderContent">訂單內容</h1>
            </div>
            <h1 class="animate__pulse">正在尋找外送員 請稍後片刻...</h1>
        </div>
        <div class="foundDelever" style="display: none;">
            <div class="deleverDetail">
                <h1 class="delever"></h1>
                <h1 class="arriveTime"></h1>
            </div>
            <h1>外送員正在取餐 請稍後...</h1>
            <div class="deliverLocation"></div>
        </div>
        <div class="deleveryArrived" style="display: none;">
            <h1>外送員已將您的訂單送至指定位置</h1>
            <div class="complete fakeBTN">訂單完成</div>
        </div>
    </div>
</div>
{% endblock content %}
{% block otherelement %}
<section class="waiting">
    <div class="shielder"style="width:100%"></div>
    <div class="form">
        <h1>繼續等待?</h1>
        <div class="formContent">
            <div class="alert">外送員因個人原因取消訂單，<br>請問是否繼續等待訂單接收?</div>
            <div class="formbuttons">
                <div class="yes fakeBTN">繼續等待</div>
                <div class="no fakeBTN">取消訂單</div>
            </div>
        </div>
    </div>
</section>
{% endblock otherelement %}
{% block script %}
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" 
integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" 
crossorigin="anonymous"></script>
<script src = 'https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js'></script>
<script src="../static/javascript/model/thankyou.js"></script>
{% endblock script %}