{% extends "base.html" %}
{% block title %}thankyou{% endblock title %}
{% block nav %}
<div class="title nav--left">
    <img src="../static/image/logo.png" alt="Logo" class="logo">
    <div class="tilte nav--title">
        <h1>FOOD COMING</h1>
        <h3>Order Page</h3>
    </div>
</div>
<div class="nav--right">
    <img src="../static/image/showMore.png" alt="看更多" id="lines">
{% endblock nav %}
{% block content %}

{% endblock content %}
{% block script %}
<script src="../static/javascript/model/fetchInfo.js"></script>
<script src="../static/javascript/control/confirmMember.js"></script>
<script src="../static/javascript/model/thankyou.js"></script>
{% endblock script %}